# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
.bundle
vendor/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
/.claude/settings.local.json
